/*=============================================
=            Section comment block            =
=============================================*/

.react-responsive-modal-container {
  .react-responsive-modal-modal {
    @apply w-full m-0 bg-black text-white max-w-none;
    min-height: 100%;
  }
}

/*=====  End of Section comment block  ======*/

.popup {
  &--content {
  }
}
